# ==================================
# ☕ BACKEND (SPRING BOOT & JAVA)
# ==================================
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE & Editor Files
.classpath
.project
.settings
.springBeans
.sts4-cache
.idea
*.iws
*.iml
*.ipr
.vscode/
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# Logs
*.log

# Sensitive Configuration (DEV PROFILE - NEVER COMMIT!)
application-dev.properties
src/main/resources/application-dev.properties

# ==================================
# ⚛️ FRONTEND (NEXT.JS & NODE) - WAJIB ADA!
# ==================================
# Dependencies (JANGAN PERNAH DI UPLOAD)
node_modules/
*/node_modules/

# Next.js Build Output
.next/
*/.next/
out/

# Environment Variables (PENTING UNTUK KEAMANAN)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
*.env.local

# Debug Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==================================
# 🖥️ OPERATING SYSTEM FILES
# ==================================
.DS_Store
Thumbs.db
uploads/18d0f7ca-f102-464f-99cf-8d5ccbb13120.jpeg
uploads/574379ae-276b-4964-a25d-dd38ba29ab76.png
src/main/resources/templates/letters/Surat Peminjaman Videotron MBC.docx
uploads/e224e7dd-df2b-4f83-99a2-733a0edf0ab6.JPG
uploads/11a99b13-2e53-4a34-a5bd-ad4d7ee81734.JPG
uploads/386ca074-4f0c-4753-bfde-b4c48695aa9b.png
uploads/dbf7e59e-0fab-4f22-8999-89a5f340a83b.JPG
docs/LabLink_API.postman_collection.json
